:root {
    --accent-color: #FE9013;
    --accent-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --hover-btn-color: #E47209;
    --active-btn-color: #4B9200;
    --pink-gradient: linear-gradient(90deg, rgba(131,58,180,0.3514356426164216) 0%, rgba(253,29,29,0.6931723372942927) 50%, rgba(252,176,69,0.6735644941570378) 100%);
}

.picture-block-donate {
    padding-top: 80px;
    height: 390px;
    background-image: url(../../assets/images/panda-bg-donate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-back {
    width: 100vw;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.main-wrap-d {
    max-width: 1160px;
    margin: auto;
}

.title-donate {
    font-size: 36px;
    color: #fff;
    padding-top: 40px;
}

.text-donate {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    margin: 11px 0 8px 0;
}

.title-information {
    color: var(--accent-color);
    font-size: 36px;
    padding: 42px 0 63px 0;
}

.donate-card {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.donate-card-wrap {
    max-width: 976px;
    margin: auto;
    padding: 42px 0 62px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.donate-card-title {
    font-size: 48px;
    color: var(--accent-color);
}

.donate-card-text {
    font-size: 24px;
    color: #333B41;
    align-self: flex-start;
    padding-bottom: 35px;
}

.donate-card-illustration {
    position: relative;
    display: flex;
    align-items: center;
}

.diet-block {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    margin-right: 75px;
}

.diet-number {
    font-weight: 500;
    font-size: 72px;
    margin-left: 45px;
}

.diet-description {
    color: #333B41;
}

.multiple-symbol {
    position: absolute;
    left: 155px;
    top: 119px;
    font-size: 34px;
}

.amount-title {
    align-self: flex-start;
    padding: 50px 0 16px 0;
}

.form-donate  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333B41;
}

.custom-sum-block {
    position: relative;
    margin-top: 45px;
}

.custom-sum-block label {
    position: absolute;
    top: 67px;
    right: 8px;
    color: #929699;
    font-weight: 500;
    font-size: 24px;

}

.donate-custom-sum {
    box-sizing: border-box;
    width: 268px;
    height: 54px;
    background: none;
    border-radius: 2px;
    border: 1px solid #929699;
    padding-left: 9px;
    margin: 51px 0 28px 0;
    outline-color: var(--accent-color);

}

.donate-custom-sum::-webkit-outer-spin-button,
.donate-custom-sum::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.chose-period {
    display: flex;
    justify-content: space-between;
}

.radio-period-block {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.radio-period {
    appearance: none;
}

.label-period {
    position: relative;
    margin-right: 20px;
    padding-left: 45px;
}

.label-period:hover {
    cursor: pointer;
}

.label-period::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    position: absolute;
    left: 10px;
}

.label-period::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFEE2E;
    position: absolute;
    border: 1px solid #4B9200;
    left: 12px;
    top: 2px;
    opacity: 0;
}

.radio-period:checked + .label-period::after {
    opacity: 1;
}

.radio-period:checked + .label-period {
    font-weight: 700;
    color: var(--accent-color);
}

.btn-donate-feed {
    margin: 30px 0 33px 0;
}

.track-sum-donate {
    position: relative;
    width: 976px;
}

.donate-sum {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1039px;
}

.radio-sum-pointer {
    position: relative;
}

.label-radio-sum {
    position: absolute;
    top: 30px;
    font-weight: 500;
    font-size: 26px;

}

.label-radio-sum:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.radio-input {
    appearance: none;
}

.label-radio-sum::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
    position: absolute;
    bottom: 47px;
    left: 29px;
}

.label-radio-sum::after {
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    background: url("../../assets/icons/circules.svg") no-repeat;
    background-size: cover;
    position: absolute;
    top: -42px;
    left: 14px;
    opacity: 0;
}

.radio-input:checked + .label-radio-sum::after {
    opacity: 1;
}

.radio-input:checked + .label-radio-sum{
    color: var(--accent-color);
}

.track-backgroung {
    position: absolute;
    top: 4px;
    z-index: -2;
    width: 100%;
    height: 27px;
    background: #404950;
}

.track-line {
    position: absolute;
    top: 17px;
    left: 31px;
    z-index: -1;
    box-sizing: border-box;
    width: 915px;
    height: 2px;
    background: #72828E;
}

@media (max-width: 1280px) {

    .main-back {
        padding-bottom: 40px;
    }

    .main-wrap-d {
        max-width: 940px;
    }

    .title-donate {
        max-width: 778px;
        margin-bottom: 42px;
    }

    .title-information {
        padding-bottom: 39px;
    }

    .donate-card-wrap {
        padding: 22px 0 39px 0;
    }

    .donate-card-text {
        align-self: center;
        margin-top: 14px;
    }

    .amount-title {
        padding-left: 65px;
    }

    .track-sum-donate {
        max-width: 810px;
    }

    .track-line {
        max-width: 785px;
        left: 14px;
    }

    .radio-sum-item-5000 {
        display: none;
    }

    .donate-sum {
        max-width: 908px;
        margin-left: -17px;
    }

    .btn-donate-feed {
        margin: 35px 0 29px 0;
    }

    .footer-wrap-donate {
        padding-left: 0px;
    }

    .nav-footer-d {
        margin-left: 130px;
    }

    .btn-form-feedback-donate {
        margin-top: 23px;
    }

}

@media (max-width: 980px) {

    .picture-block-donate {
        height: 335px;
        padding-top: 34px;
    }

    .main-back {
        padding-bottom: 47px;
    }

    .main-wrap-d {
        max-width: 600px;
    }

    .title-donate {
        font-size: 24px;
        padding-top: 32px;
        margin-bottom: 21px;
    }

    .title-information {
        padding: 23px 0 33px 0;
    }

    .donate-card-wrap {
        padding: 33px 0px 34px 0px;
    }

    .donate-card-text {
        margin-top: 24px;
        text-align: center;
        padding-bottom: 27px;
    }

    .amount-title {
        padding: 41px 0 5px 10px;
    }

    .radio-sum-item-2000,
    .radio-sum-item-1000 {
        display: none;
    }

    .track-sum-donate {
        max-width: 600px;
        padding-bottom: 50px;
        overflow-x: hidden;
        overflow-y: visible;
    }

    .track-line {
        max-width: 517px;
        left: 42px;
    }

    .donate-sum {
        max-width: 651px;
        margin-left: 5px;
    }

    .custom-sum-block {
        margin-top: 0px;
    }

    .custom-sum-block label {
        top: 61px;
    }

    .donate-custom-sum {
        width: 180px;
        height: 42px;
        margin: 51px 0 33px 0;
    }

    .btn-donate-feed {
        margin: 31px 0 29px 0;
    }

    .logo-footre-d img {
        width: 82px;
        height: 52px;
    }

    .footer-logo-sub-block-d {
        margin-bottom: -9px;
    }

    .footer-bottom-block-d {
        padding-top: 75px;
    }

    .nav-footer-d {
        margin-left: 0px;
    }

    .footer-contacts-d {
        right: -12px;
        bottom: 87px;
    }

    .btn-footer-d {
        width: 298px;
    }

}


@media (max-width: 635px) {

    .picture-block-donate {
        height: 187px;
    }

    .main-wrap-d {
        max-width: 300px;
    }

    .main-back {
        padding-bottom: 20px;
    }

    .title-information {
        font-size: 24px;
    }

    .donate-card-wrap {
        padding: 19px 0px 26px 0px;
    }

    .donate-card-title {
        font-size: 24px;
    }

    .donate-card-text {
        font-size: 16px;
        margin: 14px 0 0 0;
        padding-bottom: 7px;
    }

    .donate-card-illustration img {
        width: 160px;
        height: 138px;
        padding-top: 7px;
    }

    .diet-block {
        margin-right: 48px;
    }

    .diet-description {
        font-size: 9px;
        max-width: 100px;
        text-align: center;
    }

    .diet-number {
        font-size: 42px;
        margin-left: 29px;
    }

    .multiple-symbol {
        left: 94px;
        top: 73px;
        font-size: 20px;
    }

    .amount-title {
        padding: 6px 0 5px 0px;
    }

    .track-sum-donate {
        max-width: 300px;
    }

    .donate-sum {
        max-width: 324px;
        margin-left: -10px;
        margin-top: 2px;
    }

    .track-backgroung {
        height: 13.5px;
    }

    .track-line {
        max-width: 262px;
        top: 11px;
        left: 20px;
    }

    .label-radio-sum {
        font-size: 13px;
    }

    .label-radio-sum::before {
        width: 5px;
        height: 5px;
        bottom: 32px;
        left: 11px;
    }


    .label-radio-sum {
        margin-left: 20px;
    }

    .label-radio-sum::after {
        width: 22px;
        height: 22px;
        top: -31px;
        left: 2px;
    }

    .donate-custom-sum {
        margin: -3px 0 25px 0;
    }

    .custom-sum-block label {
        top: 7px;
    }

    .text-card-d-share {
        font-size: 15.9px;
    }

    .logo-footre-d {
        display: none;
    }

    .btn-form-feedback-donate {
        margin-top: 86px;
        margin-left: 10px;
    }

    .btn-footer-d {
        width: 298px;
    }

    .all-socialnets-d ul {
        top: -177px;
        left: -284px;
    }

    .footer-wrap-donate {
        max-width: 320px;
    }

    .footer-contacts-d {
        right: 6px;
    }

    .footer-contacts-d {
        right: -12px;
        bottom: 87px;
    }

    .nav-footer-d {
        margin-left: 13px;
    }

    .all-socialnets-d ul {
        top: -184px;
        left: -268px;
    }


}