:root {
  --main-bg-color: rgb(221, 221, 221);
  --text-color: rgb(104, 104, 104);
  --choice-color: rgb(170, 170, 170);
  --accent-color: rgb(10, 111, 158);
}

.body {
  background-color: var(--main-bg-color);
  color: var(--text-color)
}

.header-btn {
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0px 10px;
}

.header-btn:hover,
.btn-controls:hover,
.btn-pagination:hover,
.btn-game:hover,
.btn-car-active:hover {
  cursor: pointer;
  background-color: var(--choice-color)
}
.header-btn-active {
  background-color: var(--choice-color)

}

.main {
  margin-top: 30px;
}

.main-winners {
  display: none;
}

.block-controls-create,
.block-controls-update {
  display: flex;
  align-items: center;
}

.input-name-auto {
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  padding: 0px 5px;
}

.btn-controls,
.btn-pagination {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin-left: 10px;
  padding: 3px 10px;
}

.block-controls-game-bnts {
  margin-top: 5px;
}

.btn-controls-game {
  margin-left: 5px;
  padding: 5px 15px;
}

.btn-controls-race {
  margin-left: 0px;
}

.main-block-info {
  display: flex;
  margin-top: 25px;
}

.p-info-count-cars,
.p-info-count-winners,
.p-info-count-page {
  font-size: 24px;
  margin: 0px;
}

.p-info-count-page {
  margin-left: 20px;
}

.span-info-count-cars,
.span-info-count-winners,
.span-info-count-page {
  color: var(--accent-color);
  font-weight: 700;
}

.main-block-pagination {
  margin-top: 20px;
}

.btn-pagination-garage-prev,
.btn-pagination-winners-prev {
  margin-left: 0px;
}

.block-tabel-winners {
  margin-top: 20px;
}

.block-race-trak {
  width: 100%;
  border-bottom: 2px dotted var(--text-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.game-car-controls {
  display: flex;
  margin-bottom: 5px;
}

.p-game-car-name {
  margin: 0px;
}

.btn-game,
.btn-car {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-game-remove {
  margin: 0px 5px;
}

.track-line {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.img-flag {
  position: absolute;
  right: 8%;
}

.block-car-on-track {
  display: flex;
  align-items: center;
}

.btn-car-b {
  margin-left: 5px;
}

.btn-car-active {
  background-color: var(--accent-color);
}